msfonts/*
!msfonts/.gitkeep

# Debian packaging artifacts
debian/ttf-mscorefonts-installer/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.debhelper.log
debian/*.debhelper
*.deb
*.buildinfo
*.changes
